/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body{
	font-family: 'Inter', sans-serif;
}
body._lock{
    overflow: hidden;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
 
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
}
@media(max-width: 1070px){
    .container{
        padding: 0 70px;
    }
}
@media(max-width: 900px){
    .container{
        padding: 0 60px;
    }
}
@media(max-width: 768px){
    .container{
        max-width: 768px;
        padding: 0 50px;
    }
}
@media(max-width: 380px){
    .container{
        max-width: 380px;
        padding: 0 25px;
    }
}
/*---------- header ----------*/
.header{
    background-color: #EDF2EC;
    height: 134px;
    position: relative;
    padding: 28px 0;
}

.header__row {
	display: flex;
	justify-content: space-between;
    align-items: center;
    max-height: 90px;
}
.logo{
    margin: 27px 0 27px 3px;
    display: flex;
    align-items: center;
    
}
.logo__text{
    font-family: 'Inika', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.logo img{
    max-height: 20px;
    max-width: 30px;
    margin: 0 2px 5px 0;
}
.nav__items{
    width: 450px;
    display: flex;
	justify-content: space-between;
    align-items: center;
}
.nav__link a{
    color: #010201; 
    font-family: 'Inika', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;

}
.nav__link a span{
    color: #E06733; 
}
.nav__link a:hover {
    color: #E06733;
}

.nav__link{
    margin-left: 44px;
}
.nav__link:first-child{
    margin-left: 0;
}
.burger{
    display: none;
}
@media(max-width: 768px){
    .header{
        height: 117px;
        padding: 20px 0;
    }
    .logo{
    margin: 27px 5px 27px 0px;
    }
    .logo__text{
        text-align: left;
    }
    
}
@media(max-width: 650px){
    .burger{
        z-index: 5;
        display: block;
        position: relative;
        width: 40px;
        height: 24px;
        cursor: pointer;
        margin-bottom: 11px;
    }
    .burger span,
    .burger::before,
    .burger::after{
        left: 0;
        position: absolute;
        height: 2px;
        width: 100%;
        transition: all 0.5s ease 0s;
        background-color: #717171;
    }
    .burger::before,
    .burger::after{
        content: "";
    }
    .burger::before{
        top: 1px;
    }
    .burger span:first-child{
        top: 40%;
        transform: scale(1) translate(0px, -50%);
    }
    .burger span{
        bottom: 18%;
        transform: scale(1) translate(0px, -50%);
    }
    .burger::after{
        bottom: -3px;;
    }
    
    .navigation{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 400px;
        background-color: #fff;
        padding: 100px 55px 30px 0px;
        transition: left 0.5s ease 0s;
        overflow: auto;
    }
    .nav__link:first-child{
        margin-left: 44px;
    }
    .navigation._navigation_active{
        left: 0;
    }
    .burger._navigation_active span{
        transform: scale(0) translate(0px, -50%);
    }
    .burger._navigation_active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .burger._navigation_active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .nav__items{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .nav__items > li {
        margin-bottom: 15px;
    }
    .nav__items > li:last-child {
        margin-bottom: 0px;
    }
    .nav__link a{
        font-size: 26px;
        line-height: 35px;
    }
}
@media(max-width: 380px){
    .header{
        height: 96px;
        padding: 10px 0;
    }
    
}
/*---------- welcome ----------*/
.welcome{
    background-color: #EDF2EC;
    height: 532px;
}

.welcome__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
}
.welcome_left{
    max-width: 449px;
    display: flex;
}
.welcome_img{
    width: 448.8px;
    margin: auto auto;
}
.welcome_right{
    width: 549px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 3px;
}

h1{
    color: #717171;
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
}
h1 span{
    color: #499A18;
}
.text{
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: #636060;
}
.welcome_button{
    border-radius: 10px;
    border: 2px #E06733 solid;
    background-color: #EDF2EC;
    width: 158px;
    height: 44px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    transition: all 1s ease 0s;
}

.welcome_button:hover{
    background-color: #E06733;
    color: #fff;
}
@media(max-width: 1070px){
    .welcome_img{
        width: 280px;
    }
    .welcome__items{
        padding-top: 30px;
    }
    .welcome_right{
        height: 380px;
    }
    h1{
        font-size: 40px;
    }
}
@media(max-width: 768px){
    .welcome{
        height: 420px;
    }
    .welcome__items{
        padding-top: 30px;
    }
    
    h1{
        font-size: 35px;
        line-height: 50px;
    }
    .text{
       font-size: 16px;
        line-height: 25px;
    }
    .welcome_img{
        width: 280px;
        margin-top: 0px;
    }
    .welcome_left{
        height: 310px;
        order: 2;
        
    }
    .welcome_right{
        order: 1;
        width: 346px;
        height: 310px;
        margin-top: 10px;
        padding-left: 3px;
    }
    
}
@media(max-width: 740px){
    .welcome .container{
        padding: 0 30px;
    }
    h1{
        font-size: 30px;
        line-height: 40px;
    }
    .welcome_img{
        width: 200px;
    }
    .welcome__items{
        padding-top: 10px;
    }
    .welcome_right{
        height: 370px;
    }
    .text{
        line-height: 21px;
    }
}
@media(max-width: 560px){
    h1{
        font-size: 30px;
        line-height: 35px;
    }
    .welcome_img{
        width: 160px;
    }
}
@media(max-width: 380px){
    .welcome{
        height: 300px;
    }
    .welcome .container{
        padding-left: 23px;
    }
    .welcome__items{
        padding-top: 0px;
    }
    .welcome__items .text{
        line-height: 25px;
    }
    h1{
        font-size: 25px;
        margin-bottom: -5px;
    }
    .welcome_right{
        height: 250px;
        margin-top: -7px;
    }
    .welcome_img{
        display: none;
    }
    .welcome_button{
        width: 100px;
        height: 34px;
        font-size: 10px;
        line-height: 20px;
    }   
}

/*---------- about ----------*/
.about{
    height: 666px;
    
}
.about__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 88px;
}
.about_left{
    max-width: 605px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 370px;
}

.about__text__box{
    line-height: 30px;
}
.heading{
    font-family: 'Inika', serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
    color: #499A18;
    margin: 20px 0;
}
.heading span{
    color: #E06733;
}
.about_img{
    width: 464px;
}
@media(max-width: 1020px){
    .about__items{
    padding-top: 50px;
}
    .about_img{
        margin-top: 40px;
        width: 400px;
    }
}

@media(max-width: 900px){
    
    .about__items{
    padding-top: 50px;
    }
    .about_img{
        margin-top: 40px;
        width: 330px;
    }
    .about_left .text{
        font-size: 20px;
        line-height: 30px;
        
    }
    .heading{
        font-size: 40px;
        line-height: 46px;
    }
}
@media(max-width: 768px){
    .about{
        height: 783px;
    }
    .about__items{
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
    }
    .about_left{
        max-width: 100%;   
        height: 343px;
    }
    .about_left .heading{
        text-align: center;
    }
    .about_left .text{
        font-size: 20px;
        line-height: 30px;
        
    }
    .heading{
        font-size: 35px;
        line-height: 46px;
    }
    .about_img{
        margin-top: 65px;
        height: 258px;
    }
}
@media(max-width: 500px){
    .about__items{
        height: 783px;
        padding-top: 10px;
    }
    .about_left .text{
        font-size: 18px;
        line-height: 25px;
    }
    .heading{
        font-size: 30px;
        line-height: 37px;
    }
    .about_img{
        margin-top: 0px;
        height: 200px;
    }
}
@media(max-width: 380px){
    .about{
        height: 516px;
    }
    .about__items{
        padding-top: 10px;
        height: 500px;
    }
    .about_left .heading{
        text-align: center;
    }
    .about_left{
        height: auto;
    }
    .about__text__box{
        margin-top: -5px;
    }

    .about_left .text{
        font-size: 15px;
        line-height: 25px;
    }
    .heading{
        font-size: 25px;
        line-height: 33px;
    }
    .about_img{
        margin-top: 0px;
        height: 147px;
        margin-bottom: 15px;
    }
}
@media(max-width: 360px){
    .about_left .text{
        font-size: 14px;
        line-height: 20px;
    }
    
}
/*---------- service ----------*/

.service{
    background-color: #EDF2EC;
    height: 1300px;
    padding-top: 20px;
}
.service__top{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.service__top_left{
    width: 380px;
    margin-right: 70px;
}
.service_button_box{
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 558px;
}
.button{
    border-radius: 5px;
    border: 1px #E06733 solid;
    width: 161px;
    height: 50px;
    font-family: 'Inika', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #E06733;
    background-color: #EDF2EC;
    transition: all 1s ease 0s;
}
.button:hover{
    background-color: #E06733;
    color: #fff;
}
.card__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: -15px;
}
.card{
    height: 450px;
    width: 330px;
    border-radius: 20px;
    border: 1px #E3E1D5 solid; 
    margin-top: 59px;
    margin-right: 15px;
}

.card_img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-left: -1px;
}
.card_img768{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-left: -1px;
    margin-bottom: 2px;
    width: 281px;
}
.card_title{
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #E06733;
    margin: 10px;
}
.card_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #717171;
}
@media(max-width: 1239px){
    .service{
        height: 1780px;
    }
}
@media(max-width: 800px){
    .card{
        width: 300px;
    }
    .card_img{
        width: 300px;
        margin-bottom: 25px;
    }
}
@media(min-width: 769px){
    .card_img768{
        display: none;
    }
}
@media(max-width: 768px){
    .service{
        height: 1780px;
        padding-top: 40px;
    }
    
    .service_button_box{
        margin-top: 22px;
        flex-wrap: wrap;
    }
    .service__top{
        flex-wrap: wrap;
    }
    .card{
        width: 281px;
        height: 450px;
        margin-top: 38px;
    }
    .card_img{
        display: none;
    }
    .card_text{
        padding: 0 17px;
    }
    
}
@media(max-width: 680px){
    .service{
        height: 3250px;
        padding-top: 0px;
    }
    .service__top{
        padding-top: -5px;
    }
    .service_button_box{
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .button{
        margin-bottom: 10px;
        margin-right: 15px;
    }
    
    .card__box{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin-top: 34px;
    }
}
@media(max-width: 380px){
    .service{
        height: 3150px;
    }
    .service__top{
        padding-top: 10px;
        height: 230px;
    }
    .card_img768{
        height: 350px;
        width: 280px;
    }
    .card:first-child{
        margin-top: 20px;
    }
    .card_text{
        padding: 0 20px;
    }
    .service_button_box{
        margin-top: 4px;
        width: 330px;
    }
    .button{
        width: 121px;
        height: 35px;
        font-size: 15px;
        line-height: 20px;
        margin-right: 10px;
    }
}
/*---------- price ----------*/

.prices{
    height: 560px;
}
.prices__items{
    display: flex;
    justify-content: space-between;
}
.heading-black{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 40px 0;
 
}
.heading-black-right{
    text-align: right;
}
.heading-black span{
    color: #499A18;
}
.prices__box{
    width: 332px;
    height: 282px;
    border-radius: 20px;
    border: 1px #EDF2EC solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    padding: 15px 0;
}
.prices__box__item{
    height: 50px;
    width: 250px;
    background: #EDF2EC;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.prices__box__item_text{
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
}
.prices__box__item_circle{
    width: 16px;
    height: 16px;
    background: #D9D9D9;
    border-radius: 50px;
}
.prices__box__item_arrow{
    width: 4px;
    height: 4px;
    border-top: 1px solid #717171;
    border-right: 1px solid #717171;
    margin: 5px 0px 0px 6px;
    transform: rotate(135deg);
}
.prices__right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.button_white{
    background-color: #fff;
    padding-top: 3px;
}
.prices__right_img{
    display: block;
    margin-top: 43px;
    width: 152px;
    height: 174px;
}
@media(max-width: 768px){
    .prices{
        height: 585px;
    }
    .prices__box{
        margin-top: 57px;
    }
    .heading-black-main{
        font-size: 35px;
        line-height: 42.4px;
        margin-left: 15px;
    }
    .heading-black-right{
        font-size: 25px;
        line-height: 35px;
    }
    .prices__right{
        height: 585px;
        justify-content: center;
        padding-top: 12px;
    }
    .prices__right_img{
        margin-top: 35px;
    }
    .heading-black-right{
        margin-bottom: 27px;
    }
}
@media(max-width: 620px){
    .prices{
        height: 812px;
    }
    .prices__items{
        flex-direction: column;
        padding-top: 5px;
        height: 812px;
    }
    .prices__left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .prices__box{
        margin-top: 0px;
        padding: 20px 0;
    }
    .prices__right{
        margin-top: -12px;
        padding-top: 0;
        padding-bottom: 15px;
        align-items: center;
    }
    .prices__right_img{
        margin-top: 0px;
    }
}
@media(max-width: 380px){
    .prices{
        height: 512px;
    }
    .prices__items{
        flex-direction: column;
        padding-top: 5px;
        height: 512px;
    }
    .prices__left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .prices__right{
        margin-top: -12px;
        padding-top: 0;
        padding-bottom: 15px;
        align-items: center;
    }
    .prices__right .button{
        margin-right: 0;
    }
    
    .heading-black-main{
        font-size: 25px;
        line-height: 30px;
        margin: 20px 0;
    }
    .heading-black-right{
        font-size: 20px;
        line-height: 35px;
        text-align: center;
        margin-top: 13px;
        margin-bottom: 20px;
    }
    .prices__box{
        width: 224px;
        height: 235px;
        margin-top: 18px;
        padding: 20px 0;
    }
    .prices__box__item{
        height: 50px;
        width: 180px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
    }
    .prices__box__item_text{
        font-size: 15px;
        line-height: 20px;
    }
    .prices__right_img{
        display: none;
    }
}
/*---------- contacts ----------*/
.contacts{
    background: #EDF2EC;
    height: 550px;
}
.contacts__items{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 550px;
}
.contacts_img{
    align-self: flex-end;
}
.heading-space{
        font-family: 'Inika', serif;
}
.contacts_city{
    width: 450px;
    height: 50px;
    background: #D6E7D2;
    box-shadow: 0px 10px 7px -5px #AEA1A1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    margin-top: 127px;
}
.text_city{
    color: #717171;
    font-size: 20px;
    line-height: 40px;
    margin-left: -4px;
}

.contacts__circle{
    background: #AEA1A1;
    margin-right: 8.5px;
}
.contacts__arrow{
    border-color: #fff;
}
@media(max-width: 1007px){
    .contacts_img{
        width: 300px;
    }
}
@media(max-width: 768px){
    .contacts{
        height: 739px;
    }
    .contacts__items{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 739px;
    }
    .contacts_img{
        order: 3;
        width: 200px;
        height: 248px;
        align-self: center;
        margin-left: 17px;
    }
    .heading-space{
        font-size: 40px;
        line-height: 52px;
        margin: 40px 0 0 0;
    }
    .contacts_city{
        margin-top: 0;
        margin-bottom: 150px;
    }
            
}
@media(max-width: 500px){
    .contacts_city{
        width: 90%;
    } 
}

@media(max-width: 380px){
    .contacts{
        height: 445px;
    }
    .contacts__items{
        height: 445px;
        padding-top: 17px;
    }
    .contacts_img{
        width: 100px;
        height: 124px;
        margin: 0;
    }
    .heading-space{
        font-size: 25px;
        line-height: 33px;
        margin: 10px 0
    }
    .contacts_city{
        margin-top: 20px;
        margin-bottom: 80px;
        width: 300px;
        padding-right: 15px;
        padding-left: 23px;
    } 
}
/*---------- footer ----------*/


.footer__row{
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__left{
    display: flex;
    justify-content: space-between;
    width: 170px;
}
.footer_link:hover{
    color: #499A18;
}
.footer__center{
   margin-left: 20px; 
}
.footer__right{
    width: 185px;
    
}
.footer__right ul{
    display: flex;
    justify-content: space-between;
    
}
.footer_text{
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    color: #000;

}
.footer_img:hover{
    background-color: #D6E7D2;
    border-radius: 50%;
    transition: all 0.5s ease 0s;
}
@media(max-width: 768px){
    .footer__row{
        height: 181px;
        flex-direction: column;
        padding: 33px 0 28px;
    }
    .footer__center{
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .footer_text{
        line-height: 24px;
    }
}
@media(max-width: 380px){
    .footer__row{
        height: 146px;
        padding-top: 22px;
        padding-bottom: 18px;
    }
    .footer__center{
       margin: 0px; 
    }
}






























